.login-page-container {
  height: 550px;
  width: 500px;
  border: 1px solid var(--accent-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  background-color: var(--bg);
}

.login-page-header {
  max-height: 15%;

  h1 {
    font-family: var(--heading);
    font-weight: 500;
    font-size: 2rem;
    color: var(--text-h);
  }
}

.login-page-form {

  display: flex;
  flex-direction: column;
  height: 85%;
  gap: 1rem;
  padding: 2rem;
}

.login-page-form-group {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */

  label {
    font-size: 1.25rem;
    color: var(--text);
    text-align: left;
    margin-bottom: 0.75rem;
  }

  input {
    height: 2.5rem;
    border-radius: var(--radius-sm);
    border: 1px solid var(--border);
    background-color: var(--bg);
    color: var(--text-h);
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1.25rem;

    &:focus {
      outline: none;
      border-color: var(--accent);
      box-shadow: 0 0 0 3px var(--accent-bg);
    }
  }
}

.login-page-form-group {
    margin-bottom: 1.65rem;
}

.login-page-form-group input::placeholder {
  opacity: 0.4;
}

a {
  margin-top: 0.65rem;
  color: var(--accent);
  text-decoration: none;
  text-align: left;

  &:hover {
    text-decoration: underline;
  }
}

.login-page-form-button {
  margin-top: 1.5rem;
  height: 3.5rem;
  width: 100%;
  border-radius: var(--radius-sm);
  border: none;
  background-color: var(--accent-bg);
  color: var(--text-h);
  font-size: 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-border);
  }
}

.login-page-signup-link {
  margin-top: 1.25rem;
  color: var(--text);
  text-decoration: none;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}